# Postgres
POSTGRES_USER=refbook
POSTGRES_PASSWORD=refbook
POSTGRES_HOST=postgres
POSTGRES_DB=refbook
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
