# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv

# Pyre type checker
.pyre/

# IDE
.vscode/

# Project specific
*.sqlite3

# Another
*.pyc
__pycache__/