# Django stuff:
db.sqlite3

# Environments
.env
.venv


# IDE
.vscode/

# Project specific
*.sqlite3

# Another
*.pyc
__pycache__/

# Coverage
.coverage
.pytest_cache/

# Docker
.dockerignore

# Virtual environments
.venv/

# Ruff
.ruff_cache/